{% extends 'layout.html' %}



{% block body %}

<div class="container-fluid">
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="container">
                <form action= "http://www.apolloscientific.co.uk/chemical_results.php?{{qstext}}&product_group=%25&search_fieldname=header_search method="get">
                    <input type="text" name="qstext"/>
                    <input type="submit" value="search" />
                </form>
            </div>
        </div>
	</div>
</div>


{% endblock %}
